/* Body specification */
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

h2 {
  text-transform: uppercase;
}

/* Header css */
#logo {
  height:70px;
}

.nav_list {
  padding: 15px;
  margin-right: 2px;
  margin-left:2px; 
  display: inline;
  text-decoration: none;
}

#nav {
  float: right;
  margin-top:20px;
  text-transform: uppercase;
}

ul a {
  text-decoration: none;
  color: black;
  font-family: 'PT Sans', sans-serif;
}

ul a:hover {
  color: sandybrown;
}

.header {
  background: #D3D3D3;
  height:70px;
  width: 100%;
  top: 0;
  position: sticky;
}

/* Hero Image specification */
.hero_image {
  background-image: url(../img/hero_img_home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  text-align: right;
  padding-right: 20px;
}

#para {
  width: 350px;
  word-wrap: break-word;
  font-size: 30px;
  margin-top: 5px;
  font-family: 'PT Sans', sans-serif;
  color: black;
  float: right;
}

/* Content css */

#aim {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
}

.grid_4, .grid_6, grid_2 {
  padding-top:10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

#customerimg {
  height:130px;
}

.customerslist {
  width:100px;
  padding-right: 20px;
  margin-top: 20px;
  padding-top: 10px;
}


/* Footer css */
footer {
  bottom: 0;
  background-color: black;
  color: aliceblue;
  height:80px;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

.contacts {
  text-decoration: none;
  padding-top: 10px;
}

.ext_links {
  text-decoration: none;
  color:gray;
  padding-right: 20px;
}

.privacy {
  padding-top: 10px;
  text-decoration: none;
  color: gray;
}

/* About Us page css */
.aboutusheader {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

.aboutuspara {
  padding-left: 231px;
  text-align: center;
  padding-right: 231px;
  font-family: 'PT Sans', sans-serif;
}

#aboutusimage {
  margin-top:10px;
  width:100%;
  height: 400px;
}

/* Services page css */
#heading_services {
  text-align:center;
}

.services_img {
  width: 84%;
  margin:0;
  padding: 0;
}

.services_list {
  font-size: 14px;
  color: #737E86;
}

ul {
  list-style-type: circle;
  text-align: justify;
}

h3 {
  margin: 0 0 0 15px;
}

h5 {
  margin-top: 0;
}

.grid_4, .grid_8 {
  padding:0;
  margin-bottom: 40px;
}